.create-schedule-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.form-field {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
}
